.social svg{
    display: inline-block;
  
  padding: 5px;
  font-size: 2rem;
  background: -webkit-linear-gradient(90deg, #FF00B8 0%, #FF655B 50.8%, #FFC700 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.avatar{
    position: relative;
}
.sms{
    position: absolute;
    bottom: 30px;
   left: 25%;
   background-color: rgba(255, 255, 255, 0.5);
   padding: 5px 15px;
   border-radius: 5px;

}

.circle{
    width: 25px;
    height:25px;
    border-radius: 50%;
    background-color: gray;
    display:inline-block;
    margin-right:10px;

}
.complete{
    background-color:rgba(93, 229, 71, 1);

}
.chapter-lead{
    background-color:rgba(255, 101, 91, 1);
    
}
.new-job{
    background-color: rgba(245, 126, 216, 1);

}
